
    <div class="section">
    <h1>Distribution Queues</h1>
    {% for distQ in  queueInfo %}
        <br>
    <h4>{{ distQ.name }}</h4>
    <table class="table table-striped">
        <tr><th>ID</th><th>Posted</th><th>Assigned</th><th>Completed</th><th>Failed</th><th>Timed out</th><th>Returned after timeout</th><th>Avg Cost</th></tr>
        {% for queueName, queueStats in distQ.queues %}
            <tr>
            <td>{{ queueName }}</td><td>{{ queueStats.tasksPosted }}</td><td>{{ queueStats.tasksRunning }}</td><td>{{ queueStats.tasksCompleted }}</td>
                <td><a href="/files/download/LOGS/rules/{{ queueName }}.log">{{ queueStats.tasksFailed }}</a></td><td>{{ queueStats.tasksTimedOut }}</td><td>{{ queueStats.tasksCompleteAfterTimeout }}</td><td>{{ queueStats.averageExecutionCost }}</td>
            </tr>
        {% endfor %}
    </table>

    {% endfor %}

    </div>

    <div class="section">
    <h1>Distributors</h1>
    <table class="table table-striped">
        <tr><th>Name</th><th>URL</th></tr>
        {% for distName, distURL in distributors.items %}
            <tr>
            <td>{{ distName }}</td><td>{{ distURL }}</td>
            </tr>
        {% endfor %}
    </table>

{#    </div>#}
{##}
{#    <div class="section">#}
    <h1>Node Servers</h1>
    <table class="table table-striped">
        <tr><th>Name</th><th>URL</th></tr>
        {% for nodeName, nodeURL in distNodes.items %}
            <tr>
            <td>{{ nodeName }}</td><td>{{ nodeURL }}</td>
            </tr>
        {% endfor %}
    </table>

    </div>





