/*
   This stylesheet is for the readme.html document.
*/

body {
  font-family: arial,sans-serif;
  padding: 0 20px;
}

p {
  text-align: justify;
}

h2 {
  font-family: tahoma,arial,sans-serif;
  padding-top: 0.5em;
}

h3 {
  padding-top: 0.5em;
}

#title h1, #title p {
  text-align: center;
}

p.footer {
  font-size: 80%;
  font-style: italic;
  color: #808080;
  border-top: solid 1px #a0a0a0;
  margin-top: 30px;
  padding-top: 10px;
}
