
{% if  file_inputs %}
<div class="panel panel-info">
  <div class="panel-heading">
    This recipe is a template, and requires some parameters (e.g. filenames) to be specified
  </div>
  <div class="panel-body">

{% for file_input in file_inputs %}
    <div class="form-group">
            <label class="control-label" for="{{ file_input }}">{{ file_input }}</label>
            <div class="input-group">
                <span class="input-group-addon">pyme-cluster://{{ serverfilter }}/</span>
                <input type="text" class="form-control" id="{{ file_input }}" name="{{ file_input }}URL">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="select_{{ file_input }}">select</button>
                </span>
            </div>
        </div>

    <script>
    $('#select_{{ file_input }}').click(function(){
        select_file(function(path){
       $('#{{ file_input }}').val(path)
        }, 'Select a file')
    });
    </script>

{% endfor %}


  </div>
</div>

{% endif %}