syntax: glob
*.pyc
*.pyo
*.pyd
*.db
*~
*/build/*
*/*/build/*
build\*
build/*
*/_build/*
*/dist/*
dist\*
*_hidden*
*.so
*.o
*.class
.spyderproject
.rope*
Deconv/fftw_wisdom
*.orig
.DS_Store
*.egg-info*
docs/api/*
docs/html/*
docs/warn.txt
doc/api/*
doc/html/*
.idea
*/_deploy/*
*Pyro_NS_URI
*.sqlite3
PYME/Acquire/Hardware/Simulator/illuminate.c
cov_html/*
cov_html\*
PYME/experimental/_octree.c
*prof_data.json*
*debug.log
*errors.log
test_report.html
.coverage
.pytest*
PYME/experimental/_treap.c
PYME/experimental/_triangle_mesh.c
PYME/IO/buffer_helpers.c
PYME/Deconv/fftw_wisdom
PYME/Analysis/points/traveling_salesperson/two_opt_utils.c
pyme-bootstrap/node_modules/*
*64.pkg
tests/assets/*
tests/cov_html/*
tests/*.html
fftw_wisdom.pkl
*.css.map
.vscode/
pyme-bootstrap/package-lock.json
