<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PYME Tile Viewer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .roi {
           fill : none;
           stroke: #f00;
           stroke-width: 1;
            width: 30px; /* these should have default values even if we over-write later*/
            height: 30px;
       }

        /*
        .rois {
            transform: translate(- {{ pyramid_x0 }}, - {{ pyramid_y0 }})scale({{ pyramid_width_px }}/{{ pyramid_pixel_size_um }});
        }*/
    </style>
</head>
<body>
  	<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Viewing tiled dataset: {{ tile_dir }}</h2>
            </div>
        </div>
  	<div class="row">
  	<div class="col-md-9">
        <div id="openseadragon1" style="width: 100%; height: 800px;"></div>



    </div>
        <div class="col-md-3">
            <form class="form-inline">


                    <div class="form-group">
    <label for="display_gain">Display Gain</label>
    <input type="text" class="form-control" id="display_gain" value="5.0" style="width: 70px;">
  </div>


  <button type="button" class="btn btn-default" id="set_display_gain">Set</button>


</form>
            <h3>ROIs to image</h3>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="recipe_path">Detection recipe</label>
                        <input type="text" class="form-control" id="recipe_path" value="" style="width: 200px;">
                        <button type="button" class="btn btn-primary" id="run_recipe">Run</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" id="clear_rois">Clear</button>
                    </div>
                </form>
            </div>
            <p>Double click on image to add a ROI</p>
{#                <form class="form-inline">#}
{##}
{#                    <label for="roi_size">ROI Display Size [pixels]:</label>#}
{#                    <input type="int" class="form-control" id="roi_size" value=256 style="width: 70px;">#}
{#                </form>#}
            <div id="roi_list" style="overflow-y:scroll;max-height:720px"></div>
        </div>
    </div>
    </div>


<script src="/static/jquery.min.js"></script>
<script src="/static/openseadragon.min.js"></script>
<script src="/static/openseadragon-svg-overlay.js"></script>
<script src="/static/openseadragon-viewerinputhook.min.js"></script>
<script type='text/javascript' src='/static/openSeadragonGL.js'></script>
<script type='text/javascript' src='/static/viaWebGL.js'></script>
<script src="//d3js.org/d3.v5.min.js"></script>

<script type="text/javascript">
    function imageToMicrometers(imageCoordinates) {
        var micrometerCoordinates = {
        "x": (imageCoordinates.x) * {{ pyramid_pixel_size_um }} + {{ pyramid_x0 }},
        "y": (imageCoordinates.y) * {{ pyramid_pixel_size_um }} + {{ pyramid_y0 }}
        };
        return micrometerCoordinates;
    }

    function getROIHalfSize(){
        var offset = {{ pyramid_pixel_size_um }} * 0.5 * $("#roi_size").val();
        console.log(offset);
        return offset;
    }

    var viewer = OpenSeadragon({
        id:            "openseadragon1",
        prefixUrl:     "/static/images/osd_flat/",
        navigatorSizeRatio: 0.25,
        navigatorOpacity: 1.0,
        //debugMode: true,
        //wrapHorizontal:     true,
        showNavigator: true,
        maxZoomPixelRatio: 10,
        tileSources:   {
            height: {{ pyramid_height_px }},  // total height [pixels]
            width:  {{ pyramid_width_px }},   // total width [pixels]
            tileSize: {{ tile_size }},  // size of individual tile [pixels]
            minLevel: 0,
            maxLevel: {{ pyramid_depth }},

            getTileUrl: function( level, x, y ){
                return "get_tile?layer=" + ({{ pyramid_depth }}-level) + "&x=" + x + "&y=" + y + "&vmin=0&vmax=1060";
            }
    }
    });

    var seaGL = new openSeadragonGL(viewer);
    seaGL.addHandler('tile-drawing');
    seaGL.vShader = '/static/shaders/vertex/square.glsl';
    seaGL.fShader = '/static/shaders/fragment/lut.glsl';
    seaGL.init();

    viewer.addViewerInputHook({hooks: [
        {tracker: 'viewer', handler: 'dblClickHandler', hookHandler: onViewerDblClick},
        {tracker: 'viewer', handler: 'clickHandler', hookHandler: onViewerClick}
    ]});

    var overlay = viewer.svgOverlay();

    var tx = - {{ pyramid_x0 }};
    var ty = - {{ pyramid_y0 }};
    var sc = 1.0 /({{ pyramid_pixel_size_um }} * {{ pyramid_width_px }} );

    var rois = d3.select(overlay.node()).append('g')
            .attr('class', 'rois')
            .attr('transform', 'scale(' + sc + ') translate(' + tx + ' ' + ty + ')');

    function draw_rois(){
        var url = "/get_roi_locations";

        d3.json(url).then(function(data) {
            //console.log(data);

            var sel = rois.selectAll(".roi")
                .data(data);

            /* revert to hard-coded ROI sizes for now

            Rationale being that GUI as it stands won't work properly / consistently
            (ROIs are not refreshed when parameter changes, refrehsing will reset ROI size etc ...)

            There is pretty much only one scenario where it would work as expected, namely if you change the ROI
            size before selecting ROIs. To fix these issues, roi_size should probably be part of server state (the other
            option would be to set a cookie). Changing the ROI size should also trigger a draw_rois() call.

            I'm also not super keen on the clutter aspect in the GUI - I don't think that setting the ROI size
            should be front and centre in the UI.
             */

            var roi_half = 15; //getROIHalfSize();
            var roi = sel.enter().append("rect")
                .attr("class", "roi")
                .attr("x", function (d) {
                    //console.log(d);
                    return d[0] - roi_half;
                })
                .attr("y", function (d) {
                    return d[1] - roi_half;
                });
                //.attr("width", 2 * roi_half)
                //.attr("height", 2 * roi_half);

            sel.exit().remove();

        });
    }

{#    var d3Rect = d3.select(overlay.node()).append("rect")#}
{#                        .attr("class", 'roi')#}
{#                        .attr("x", 0.5)#}
{#                        .attr("width", 0.25)#}
{#                        .attr("y", 0.5)#}
{#                        .attr("height", 0.25);#}


    function onViewerClick(event) {
        // Disable click zoom on the viewer using event.preventDefaultAction
        event.preventDefaultAction = true;
        event.stopBubbling = true;

    }

    function onViewerDblClick(event) {
        // Disable click zoom on the viewer using event.preventDefaultAction
        event.preventDefaultAction = true;
        event.stopBubbling = true;

        //console.log(event);
        var c = viewer.viewport.viewportToImageCoordinates(viewer.viewport.pointFromPixel(event.position));
        //console.log(c);
        c = imageToMicrometers(c);

        $.get( "/toggle_roi?x=" + c.x + "&y=" + c.y, function( data ) {
        $( "#roi_list" ).html( data );
        draw_rois();
        //alert( "Load was performed." );
    });
    }

    $.get( "/roi_list", function( data ) {
        $( "#roi_list" ).html( data );
        draw_rois();
        //alert( "Load was performed." );
    });

    function onSetGain(event){
        var scale = $("#display_gain").val();
        console.log(scale);
        seaGL.viaGL.multiplier = scale;
        viewer.world.resetItems();
    }

    $("#set_display_gain").click(onSetGain);

    $("#clear_rois").click(function(event){
        $.get( "/clear_rois" , function( data ) {
            $( "#roi_list" ).html( data );
            draw_rois();
        });
    } );

    $("#run_recipe").click(function(event){
        var recipe_path = $('#recipe_path').val();
        $.get( "/run_recipe_for_locations?recipe_path=" + recipe_path , function( data ) {
            $( "#roi_list" ).html( data );
            draw_rois();
        });
    } );

    $(window).resize(function() {overlay.resize();});
</script>

</body>
</html>