{% extends 'base.html' %}
{% block title %}Cluster Status{% endblock %}
{% block meta %}
{#<meta http-equiv="refresh" content="2">#}
{% endblock %}
{% block status_active_class %}active{% endblock %}
{% block content %}
    <div id="status-content"></div>

{% endblock %}

{% block scripts %}
<script>
    function loadlink(){
        //console.log('about to reload')
        $('#status-content').load('/status/?_ajax=true',function () {
            //alert( "Load was performed." );
            // $(this).unwrap();
            //console.log('load performed')
        });
    }

    loadlink(); // This will run on page load
    setInterval(function(){
        loadlink(); // this will run after every 5 seconds
    }, 1000);

</script>
{% endblock %}