<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>PYME Sample Information - {{object}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <script src="{{MEDIA_URL}}javascript/prototype.js" type="text/javascript"></script>
 <script src="{{MEDIA_URL}}javascript/scriptaculous.js" type="text/javascript"></script>
  </head>
  <style>
    body {
        font-family: arial, helvetica, sans-serif;
    }

    tr.odd{
        background-color: #C4D9FC;
    }

    tr.even{
        background-color: #D4E9FC;
    }

    div.slide{
        background-color: #FFDDAA;
    }

  </style>
  <body>
    <div class="main">
    <h2>Image {{object.imageID}}:</h2>
    <p><b>Acquired by:</b> {{object.userID}}</p>
    <p><b>At:</b> {{object.timestamp}}</p>

    <div class="slide">
    <h3>Slide {{object.slideID.slideID}}:</h3>
    <p><b>Creator:</b> {{object.slideID.creator}}</p>
    <p><b>Reference:</b> {{object.slideID.reference}}</p>

    <h4>Labelling</h4>
    <table>
    {% for lab in object.slideID.labelling.all %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lab.structure }}</td><td>{{ lab.label }}</td>
    </tr>
    {% endfor %}
    </table>


    </div>

    <h3>Tags</h3>

    {%for t in object.tags.all %}
    {{t.tag}}, 
    {%endfor%}


    <h3>Files</h3>

    <table>
    {%for f in object.files.all %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td><img src="/thumbnails/{{ f.filename }}" float="left"/></td>
    <td>{{f.filename}}</td>
    </tr>
    {%endfor%}
    </table>

    </div>

    <div class="tagbar">
       <form action="/images/{{object.imageID}}/tag" method="post">
        <input type="text" name="tag" id="tag" value="" />
        <div id="hint"   ></div>
        <script type="text/javascript">
        new Ajax.Autocompleter(”tag”,”hint”,”/hint/tag”);
        </script>
        <input type="submit" value="Tag" />
        </form>

    </div>

  </body>
</html>