<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>PYME Sample Information - {{slide}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
  </head>
  <style>
    body {
        font-family: arial, helvetica, sans-serif;
    }

    tr.odd{
        background-color: #C4D9FC;
    }

    tr.even{
        background-color: #D4E9FC;
    }

  </style>
  <body>
    <h2>{{slide}}</h2>

    <h3>Labelling</h3>
    <table>
    {% for lab in labels %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lab.structure }}</td><td>{{ lab.label }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3>Images</h3>

    <table>
    <thead>
    <tr><th>ID</th><th>Date</th><th>Files</th></tr>
    </thead>
    {% for im in images %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="/images/{{ im.imageID }}">{{ im.imageID }}</a></td>
    <td>{{im.timestamp.date}}</td>
    <td>
    {%for f in im.files.all %}
    {{f.filename}}<br>
    {%endfor%}
    </td>
    </tr>
    {% endfor %}
    </table>



  </body>
</html>