{% extends "samples/sample_main.html" %}

{% block content%}
    <h3>Slides</h3>

    <table>
        <thead><th>ID</th><th>Creator</th><th>Reference</th><th>Labelling</th></thead>
    {% for sl in object_list %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="/slides/{{ sl.slideID }}">{{ sl.slideID }}</a></td>
    <td width="100px">{{sl.creator}}</td>
    <td width="100px">{{sl.reference}}</td>
    <td>
    <table>
    {%for lab in sl.labelling.all%}
    <tr>
        <td width="100px">{{lab.structure}}</td><td>{{lab.label}}</td>
    </tr>
    {%endfor%}
    </table>
    </td>
    </tr>
    {% endfor %}
    </table>



{% endblock %}